@tailwind components;
@tailwind utilities;

/*
  CssBaseline do MUI cuida do reset/base.
  Aqui adicionamos classes utilitárias adicionais.
*/

:root {
  --container-page-max: 1224px;
}

.gradient-primary {
  background-image: linear-gradient(to right, #fb1b1f, #5b00b6);
}

.bg-hero {
  background-image: url('/Bg.png');
  background-size: cover;
  background-position: center;
}
